services:
  mongo:
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017
    volumes:
      - ./.docker-data/mongo-data/db:/data/db
      - ./.docker-data/mongo-data/configdb:/data/configdb
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s
      
  redis:
    image: redis/redis-stack-server
    restart: always
    ports:
      - 6379:6379
    volumes:
      - ./.docker-data/redis-data:/data
    healthcheck:
      test: redis-cli ping
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s
      
volumes:
  mongo-data:
    driver: local
  redis-data:
    driver: local

networks:
  bdd:
    driver: bridge